
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: black;
}
h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 50px;
  }
p{
 font-family: "Poppins", sans-serif;
 font-weight: bold;
 line-height: 30px;
    
  }  

nav{
    padding: 20px 0;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    display: inline;
    list-style-type: none;
     line-height: 42px;
    text-align: center;
    margin-right: 15px;
}
nav a{
    font-size: 20px;
    text-decoration: none;
    color: #272142;
    transition: all 200ms ease-in-out;
}
nav li.active a{
    color: #6c63ff;;
}
nav a:hover{
    color: #6c63ff;
    cursor: pointer;
}
.intro{
    background-color: #E1E5E8;
    text-align: center;
    padding: 20px;
}
.intro p{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
.intro h1{
    font-size: 30px;
}
.intro-profession{
    font-size: 15px;
    max-width: 400px;
    margin: auto;
}
.projects{
    margin-top: 20px;
}
.project-description h2 {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
  }
  .project-description p {
    font-size: 14px;
  }
  .content {
    padding: 30px 20px;
  }
  .content h1 {
    font-size: 30px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
  }
  .content h2 {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }
  .content h3 {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
  }
  .content p {
    font-size: 14px;
    line-height: 30px;
  }
  .content-inner {
    margin: 30px;
  }
.btn-branding {
    background: #6c63ff;
    border-radius: 4px;
    color: #fff;
    padding: 18px 30px;
    line-height: 25px;
    font-size: 18px;
    margin-top: 15px;
  }
  